<a href="https://colab.research.google.com/github/Poorna-20/FML/blob/main/Pandas_Practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
s1 = pd.Series([5,4,6,2])
print(s1)

0    5
1    4
2    6
3    2
dtype: int64

In [3]:
n1 = np.array([5,4,6,2])
s2 = pd.Series(n1)
print(s2)

0    5
1    4
2    6
3    2
dtype: int64

In [4]:
fruits = np.array(['apple','orange','mango','pear'])
temp = pd.Series(fruits)
print(temp)

0     apple
1    orange
2     mango
3      pear
dtype: object

In [7]:
df1 = pd.DataFrame({
    "a1" : [1,5,4,6,7],
    "a2" : [1.2,2.5,12.3,45.0,22.5],
    "a3" : ["hello","Hi","Do","For","jhf"],
    "a4" : [True,False,False,True,True]
})
print(df1)

   a1    a2     a3     a4
0   1   1.2  hello   True
1   5   2.5     Hi  False
2   4  12.3     Do  False
3   6  45.0    For   True
4   7  22.5    jhf   True

In [10]:
list1 = [5,2,4,6,9]
print(pd.DataFrame(list1,columns=["sid"]))

   sid
0    5
1    2
2    4
3    6
4    9

In [16]:
ml = [["CTP",80],["PPS",81],["OOPj",85],["DS",86]]
pml = pd.DataFrame(ml,columns=["Subject","Marks"],dtype=int)
print(pml)

  Subject  Marks
0     CTP     80
1     PPS     81
2    OOPj     85
3      DS     86

/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: Could not cast to int64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

In [17]:
print(pml.describe());

          Marks
count   4.00000
mean   83.00000
std     2.94392
min    80.00000
25%    80.75000
50%    83.00000
75%    85.25000
max    86.00000

In [31]:
data = pd.read_csv('drive/MyDrive/datasets/cars.csv',sep=';')

In [32]:
data.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
3,Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US
4,AMC Rebel SST,16.0,8,304.0,150.0,3433.,12.0,70,US

In [33]:
data.tail()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
402,Ford Mustang GL,27.0,4,140.0,86.00,2790.,15.6,82,US
403,Volkswagen Pickup,44.0,4,97.00,52.00,2130.,24.6,82,Europe
404,Dodge Rampage,32.0,4,135.0,84.00,2295.,11.6,82,US
405,Ford Ranger,28.0,4,120.0,79.00,2625.,18.6,82,US
406,Chevy S-10,31.0,4,119.0,82.00,2720.,19.4,82,US

In [34]:
data.head(3)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US

In [35]:
data.columns

Index(['Car', 'MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
       'Acceleration', 'Model', 'Origin'],
      dtype='object')

In [36]:
data['Weight']

0      DOUBLE
1       3504.
2       3693.
3       3436.
4       3433.
        ...
402     2790.
403     2130.
404     2295.
405     2625.
406     2720.
Name: Weight, Length: 407, dtype: object

In [42]:
print(data.loc[[1,3,5],['Weight']])

  Weight
1  3504.
3  3436.
5  3449.

In [56]:
a1 = {
    "sid" : [33,72,79,92],
    "name" : ['poorna','sai','babu','varun']
}
a2 = {
    "sid" : [79,92,95,97],
    "name" : ['sjf','jshg','udhg','hwguwe']
}
da1 = pd.DataFrame(a1,columns=['sid','name'])
da2 = pd.DataFrame(a2,columns=['sid','name'])
da1
da2

   sid    name
0   79     sjf
1   92    jshg
2   95    udhg
3   97  hwguwe

In [52]:
pd.merge(da1,da2,on="sid")

   sid name_x name_y
0   79   babu    sjf
1   92  varun   jshg